<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @frecuency.name %>
</p>

<%= link_to 'Editar', edit_frecuency_path(@frecuency) %> |
<%= link_to 'Regresar al Listado', frecuencies_path %>
