<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @industry_type.name %>
</p>

<%= link_to 'Edit', edit_industry_type_path(@industry_type) %> |
<%= link_to 'Back', industry_types_path %>
