<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @industry_type.name %>
</p>

<%= link_to 'Editar', edit_industry_type_path(@industry_type) %> |
<%= link_to 'Regresar', industry_types_path %>
